html{
    font-family: 'Quicksand';
   /* background-image: linear-gradient(#330c63, #1b0733);*/
   background-color: #1b0733;
}
h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
div#Cool{
    background-image: linear-gradient(rgb(191, 153, 236), #1b0733);
    border-radius: 5px;

}
textarea#Terminal{
    border-style: none;
    border-color: black;
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}
textarea#Powershell{
    border-style: none;
    border-color: black;
    background-color: #012456;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}
button#Fancy{
    border-style: none;
    border-color: black;
    background-color: #025601;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

button:active#Fancy{
    border-style: none;
    border-color: black;
    background-color: #028d00;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border-bottom: 1px solid black;
    -ms-transform: translateY(3%);
    transform: translateY(3%);
}

button#Fancy2{
    border-style: none;
    border-color: black;
    background-color: #535601;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border-bottom: 2px solid black;
}

button:active#Fancy2{
    border-style: none;
    border-color: black;
    background-color: #8b8d00;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border-bottom: 1px solid black;
    -ms-transform: translateY(3%);
    transform: translateY(3%);
}

@font-face {
    font-family: 'Quicksand';
    src: url(Quicksand-Regular.ttf);
}
